
 body{
  margin: 0;
  padding: 0;
  height: 820px;
  text-align: center;
  background-color: rgba(159, 139, 254, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .container{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

 }
 video{
  width: 200px;
  height: auto;
  display: none;
  border-radius: 5px;
  margin: auto;
 }
 .container div{
  border: 1px solid;
  width: 45%;
  padding: 10px 20px 10px 10px ;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgba(163, 168, 244, 1);
  margin-bottom: 10px;
 }
 p{
  opacity: 30%;
  font-size: 10px;
 }

 @media (min-width: 600px){
  .container div{
   width: 20%;
   padding: 10px 28px 10px 10px;
  }
  
 }